virtual_amabel:
  extraction_dest_relative_path: "virtual_amabel/extracted/"
  transformation_dest_relative_path: "virtual_amabel/transformed/"
  error_dest_relative_path: "virtual_amabel/error/"
  loaded_dest_relative_path: "virtual_amabel/loaded/"
  processed_dest_relative_path: "virtual_amabel/processed/"
  file_downloaded_name: "VirtuelAmabel*csv"
  download_path: "K:/ETL/DATA_FICHIERS/virtual_amabel/extracted/"
  ##### extraction config #####
  start_date: #2025-04-04
  end_date: #2025-04-06
  wait_time: 200
  file_pattern: "VirtuelAmabel*csv"
  urls:
    login: "https://virtual-admin.virtustec.com/backoffice/login"
    report: "https://virtual-admin.virtustec.com/backoffice/manage/17828610/tickets/turnover"


  html_elements:
    ### login page ###
    username_element_xpath: "/html/body/app-root/ng-component/div/div/div/div[3]/div[1]/div/form/div/div[3]/div/input"
    password_element_xpath: "/html/body/app-root/ng-component/div/div/div/div[3]/div[1]/div/form/div/div[4]/div/p-password/div/input"
    domain_element_xpath: "/html/body/app-root/ng-component/div/div/div/div[3]/div[1]/div/form/div/div[2]/div/input"
    login_submit_button_element_xpath: "/html/body/app-root/ng-component/div/div/div/div[3]/div[1]/div/form/div/div[5]/div/button"
    verification_xpath: "/html/body/app-root/app-logged-in/div/app-main-header-component/header/div/div[2]/ul/li/app-user-header/span/p-avatar/div/span"

    ### report page ###
    date_day_element_id: "OpsValidator_ContentPlaceHolder1_FDate_ddlDate"
    date_month_element_id: "OpsValidator_ContentPlaceHolder1_FDate_ddlMonth"
    date_year_element_id: "OpsValidator_ContentPlaceHolder1_FDate_ddlYear"
    submit_button_element_id: "OpsValidator_ContentPlaceHolder1_btnSubmit"
    download_button_element_id: "OpsValidator_ContentPlaceHolder1_btnExcel"
    error_message_element_xpath: "//span[contains(@id,'OpsValidator_ContentPlaceHolder1_lblErrInfo') and contains(text(),'Aucun enregistrement trouv')]"

  #### transform config ####
  files_to_transform_pattern: "*cs*"

  #### load config ####
  files_to_load_pattern: "*.csv"

