afitech_commission_history:
  extraction_dest_relative_path: "afitech_commission_history/extracted/" # Les fichiers bruts téléchargés iront ici (par rapport à DATA_PATH)
  transformation_dest_relative_path: "afitech_commission_history/transformed/" # Les fichiers transformés iront ici
  error_dest_relative_path: "afitech_commission_history/error/" # Les fichiers en erreur (extraction, transfo, load)
  loaded_dest_relative_path: "afitech_commission_history/loaded/" # Les fichiers transformés et chargés avec succès
  processed_dest_relative_path: "afitech_commission_history/processed/" # Les fichiers sources bruts traités avec succès (après transformation)

  # Configuration spécifique à l'extraction (utilisée par le Scraper)
  # file_downloaded_name n'est pas toujours utile si file_pattern est bien défini.
  # file_downloaded_name: "*CommissionHistory*xls*" # Nom ou motif du fichier tel qu'il est téléchargé par le navigateur.
                                                 # BaseScrapper utilise `file_pattern` pour la vérification.
  download_path: "afitech_commission_history/extracted/" # Ce chemin est utilisé par BaseScrapper pour configurer les préférences de téléchargement de Chrome.
                                                       # Il doit correspondre à DATA_PATH / extraction_dest_relative_path
                                                       # La classe BaseScrapper s'attend à ce que ce soit un chemin absolu au final,
                                                       # qui sera résolu par config_utils.get_config() en utilisant DATA_PATH.

  file_pattern: "*CommissionHistory*.xls*" # Motif pour identifier le fichier téléchargé dans le dossier de téléchargement.
                                          # Le ".xls*" est pour couvrir .xls et .xlsx.
  wait_time: 300 # Temps d'attente max pour le téléchargement d'un fichier (en secondes).

  # Dates pour l'extraction. Format YYYY-MM-DD. Si null/vide, utilise la veille par défaut.
  start_date: # 2025-03-01 # Exemple de date fixe, commenter pour utiliser la date dynamique.
  end_date: # 2025-03-31   # Exemple de date fixe
  urls:
    login: "https://lonase-prod.afite.ch/login"
    report: "https://lonase-prod.afite.ch/reports/create"
    report_history: "https://lonase-prod.afite.ch/reports/history"

  html_elements:
    ### login page ###
    username_element_xpath: "/html/body/hg-root/hg-app-login/div/div[2]/div/div/div[1]/hg-authentication/form/div[1]/input"
    password_element_xpath: "/html/body/hg-root/hg-app-login/div/div[2]/div/div/div[1]/hg-authentication/form/div[2]/div[1]/input"
    login_submit_button_element_xpath: "//button[@type='submit']"

    ### MFA page ###
    verification_xpath: "/html/body/hg-root/hg-app-login/div/div[2]/div/div/div[1]/hg-authentication/div[1]/span"
    dropdown_element_xpath: "/html/body/hg-root/hg-app-login/div/div[2]/div/div/div[1]/hg-authentication/div[2]/p-dropdown/div/span"
    google_authentication_element_xpath: "/html/body/div/div/div/div/ul/p-dropdownitem[3]/li"
    code_input_element_xpath: "/html/body/hg-root/hg-app-login/div/div[2]/div/div/div[1]/hg-authentication/div[2]/div/hg-code/div/input[1]"

    ### report generation page ###
    report_verification_xpath: "/html/body/hg-root/hg-layout/div/hg-topbar/header/div/div[2]/div[5]/hg-profile-avatar/p-avatar/div/span"
    report_dropdown_xpath: "/html/body/hg-root/hg-layout/div/div/div/hg-create-report/div/div[2]/div/p-dropdown/div/span"
    report_type_xpath: "/html/body/div/div/div/div/ul/p-dropdownitem[9]/li"
    start_calendar_input_xpath: "/html/body/hg-root/hg-layout/div/div/div/hg-create-report/div/hg-report-request-generator/div/div/form/div[1]/p-calendar/span/input"
    end_calendar_input_xpath: "/html/body/hg-root/hg-layout/div/div/div/hg-create-report/div/hg-report-request-generator/div/div/form/div[2]/p-calendar/span/input"
    report_submit_button_xpath: "/html/body/hg-root/hg-layout/div/div/div/hg-create-report/div/hg-report-request-generator/div/div/form/div[6]/hg-button/button"

    ### report history page ###
    table_xpath: "//table/tbody"
    table_row_xpath: "//table/tbody/tr"
    download_button_xpath: ".//span/span/i"

  #### transform config ####
  files_to_transform_pattern: "*"

  #### load config ####
  files_to_load_pattern: "*.csv"

