mojabet_ussd_aggr:
  extraction_dest_relative_path: "mojabet_ussd_aggr/extracted/"
  transformation_dest_relative_path: "mojabet_ussd_aggr/transformed/"
  error_dest_relative_path: "mojabet_ussd_aggr/error/"
  loaded_dest_relative_path: "mojabet_ussd_aggr/loaded/"
  processed_dest_relative_path: "mojabet_ussd_aggr/processed/"
  file_downloaded_name: "Accounting.csv"
  file_pattern: "Accounting.csv"
  wait_time: 300
  download_path: "K:/ETL/DATA_FICHIERS/mojabet_ussd_aggr/extracted/"
  ##### extraction config #####
  start_date:  #2025-05-30 # defaut is today - 1 day
  end_date: #2025-05-12
  include_sup: false
  urls:
    login: "https://cms.acajou.sn/Account/Login"
    report: "https://cms.acajou.sn/Accounting/AccountingReport"

  html_elements:
    ### login page ###
    username_element_id: "Input_Email"
    password_element_id: "Input_Password"
    login_submit_button_element_xpath: "/html/body/div/main/div/div[2]/div/form/div[3]/div[2]/button"
    verification_xpath: "/html/body/div/aside/div/nav/ul/li/a"

    ### report page ###
    date_element_name: "dateCreated"
    step_x1_element_id: "results-jackpot_processing"
    step_x2_element_xpath: "/html/body/div[1]/div[1]/section[2]/div/div/div/div/div[3]/button"

    date_day_element_id: "OpsValidator_ContentPlaceHolder1_FDate_ddlDate"
    date_month_element_id: "OpsValidator_ContentPlaceHolder1_FDate_ddlMonth"
    date_year_element_id: "OpsValidator_ContentPlaceHolder1_FDate_ddlYear"
    submit_button_element_id: "OpsValidator_ContentPlaceHolder1_btnSubmit"
    download_button_element_id: "OpsValidator_ContentPlaceHolder1_btnExcel"
    error_message_element_xpath: "//span[contains(@id,'OpsValidator_ContentPlaceHolder1_lblErrInfo') and contains(text(),'Aucun enregistrement trouv')]"

  #### transform config ####
  files_to_transform_pattern: "mojabet_ussd_aggr*csv"

  #### load config ####
  files_to_load_pattern: "*.csv"

